p{
    color: white;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.pictureIndex{
    margin-left: auto;
    margin-right: auto; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-bottom: 2%;
}